.Navbar{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
    height: 50px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    
}
.logo{
margin: 0 10%;
}
.search{
    border: none;
    margin: 0 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
   width: 200px;
   height: 40px;
   border-radius: 10px;
   align-self: center;
   padding-left: 1%;
   outline: none;
    
}